/* VARIABLE*/
$margin: 0px 15px;
$primary: #9356DC;
$secondary: #FF79DA;
$tertiary: #99E2D0;
$white: #fff;
$black: #000;
@media screen and (max-width: 480px){
  /* GENERAL */
  body{
    width: 320px;
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
  }

  a{
    text-decoration: none;
    color: #000;
  }

  h1{
    font-family: 'Shrikhand', cursive;
  }

  h2{
    font-weight: 100;
  }

  h3,p{
    margin: 0;
  }

  img{
    width: 100%;
    object-fit: cover;
  }
  .bold{
    font-weight: bold;
  }

  /* INFOS */
  #info{
    text-align: center;
    margin: $margin;
    h1{
      margin-top: 40px;
      font-family: 'Roboto', sans-serif;
    }
  }

  #info div{
    background: #f2f2f2;
    height: 60px;
    display: flex;
    align-items: center;
    input{
      border: none;
      font-size: 17px;
      padding: 16px;
      width: 232px;
      background: #f2f2f2;
    }

    i{
      padding-left: 51px;
    }
  }
/* FONTIONNEMENT */
  #fonction{
    margin: $margin;
    h2{
      font-weight: bold;
    }
    a{
      display: flex;
      align-items: center;
      font-weight: bold;
      i{
        padding-left: 10px;
        color: #0000009c;
      }
    }
    li:active{
      background: #9356DC4A;
      i{
        color: $primary;
      }
    }
  }
  ol li:before{
    content: counter(resto);
    padding: 3px 7px 3px;
    margin-right: -18px;
    background: $primary;
    -moz-border-radius: 60px;
    border-radius: 50%;
    font-weight: bold;
    font-size: 0.8em;
    color: white;
    position: relative;
    right: 24px;
  }
  ol{
    padding: 0;
    margin: 31px 0 41px 9px;
    counter-reset: resto;
    list-style: none;
    li{
      padding: 15px;
      border-radius: 16px;
      margin-bottom: 13px;
      counter-increment: resto;
      font-size: 16px;
      display: flex;
      box-shadow: 8px 8px 10px #aaa;
      transition-property: transform;
      transition-duration: 0.5s;
      transition-timing-function: ease-out;
    }
    li:active{
      transform: scale(1.2);
      -webkit-transform: scale(1.2);
    }
  }
  .one{
    i{
      padding-right: 22px;
    }
  }
  .two{
    i{
      padding-right: 17px;
    }
  }
  .three{
    i{
      padding-right: 13px;
    }
  }
  #restaurant{
    margin: $margin;
    figure{
      margin: 0;
      margin-bottom: 35px;
      box-shadow: 8px 8px 10px #aaa;
      border-radius: 12px;
    }
    img{
      height: 130px;
      border-radius: 12px 12px 0 0;
    }
  }

  .img1{
    height: 187px;
    figcaption{
      position: relative;
      bottom: 20px;
    }
  }

  figcaption{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    border-radius: 0 0 12px 12px;
    padding: 7px 14px;
    i{
      order: -1;
      align-self: center;
      font-size: 18px;
    }
    div{
      font-size: 14px;
      h3{
        margin-bottom: 2px;
      }
    }
  }

  .bold{
    font-weight: bold;
  }

  .bulle{
    background: $tertiary;
    color: darkgreen;
    padding: 4px 8px;
    border-radius: 3px;
    font-family: "Roboto", sans-serif;
    position: relative;
    bottom: 124px;
    left: 203px;
  }


}