/* VARIABLE*/
$primary: #9356DC;
$secondary: #FF79DA;
$tertiary: #99E2D0;
$white: #fff;
/* GENERALE */
.footer{
  background: #383838;
  .footer__title{
    color: $white;
    padding-left: 21px;
    padding-top: 18px;
    font-size: 26px;
    margin-top: 0;
  }
  a{
    color: $white;
  }
  .footer__list-bold{
    font-weight: bold;
  }
  .footer__list{
    list-style: none;
    padding: 0 0 12px 21px;
    margin-bottom: 0;
    li{
      margin-bottom: 12px;
    }
  }
  .footer__list-items1{
    i{
      margin-right: 18px;
    }
  }
  .footer__list-items2{
    i{
      margin-right: 12px;
    }
  }
}

@media screen and (max-width: 480px){
  footer{
    a{
      font-size: 14px;
    }
    .footer__list{
      li{
        margin-bottom: 4px;
      }
    }
  }
}


