/* GENERAL */
header{
  display: flex;
}

.logo{
  height: 70px;
  object-fit: contain;
}

@media screen and (max-width: 480px){
  header{
    display: flex;
    justify-content: center;
  }
  .logo{
    width: 200px;
    height: 70px;
    object-fit: contain;
  }
}