/* VARIABLE*/

$primary: #9356DC;
$secondary: #FF79DA;
$tertiary: #99E2D0;
$white: #fff;
$black: #000000;
@media screen and (max-width: 480px) {
  button{
    padding: 12px 17px;
    margin: 38px 0;
    border-radius: 19px;
    border: none;
    font-size: 14px;
    color: $white;
    box-shadow: 8px 8px 10px #aaa;
    background: linear-gradient(to top left, $primary, $secondary);
  }

  .btn{
    padding: 12px 33px;
    position: relative;
    left: 69px;
    margin-top: 0;
  }
}
