/* GENERAL */
$primary: #9356DC;
$secondary: #FF79DA;
$tertiary: #99E2D0;
#loader{
  border: 10px solid #f3f3f3;
  border-top: 10px solid #9356DC;
  border-right: 10px solid #99E2D0;
  border-bottom: 10px solid #9356DC;
  border-left: 10px solid #FF79DA;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 1.5s linear infinite;

  /* Placement du loader au mileu de la page */
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

}
.chargement{
  display: none;
}

@keyframes spin{
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}
img{
  width: 300px;
  height: 200px;
}
/* INFOS */
#info{
  text-align: center;
  margin: 0 15px;
  h1{
    margin-top: 40px;
    font-family: 'Roboto', sans-serif;
  }
}

#info div{
  background: #f2f2f2;
  height: 60px;
  input{
    border: none;
    font-size: 17px;
    padding: 16px;
    width: 334px;
    background: #f2f2f2;
  }
  input:focus{
    outline:none;
  }
  i{
    padding-left: 51px;
  }
}
/* MAIN*/
main {
  padding: 0 22px;
}
  /* FONCTIONNEMENT */
  @media screen and (min-width: 1025px){
    #fonction li:hover {
      background: #9356DC4A;
    }
    #fonction li:hover i {
      color: #9356DC;
    }
    ol{
      li:hover{
        transform: scale(1.2);
        -webkit-transform: scale(1.2);
      }
    }
    #restaurant{
      .content {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
      }
    }
  }
  ol{
    padding: 0;
    margin: 31px 0 41px 9px;
    counter-reset: resto;
    list-style: none;
    display: flex;
    justify-content: space-around;
    li{
      padding: 15px;
      border-radius: 16px;
      margin-bottom: 13px;
      counter-increment: resto;
      font-size: 16px;
      display: flex;
      box-shadow: 8px 8px 10px #aaa;
      transition-property: transform;
      transition-duration: 0.5s;
      transition-timing-function: ease-out;
    }
  }
  ol li:before{
    content: counter(resto);
    padding: 3px 7px 3px;
    margin-right: -18px;
    background: $primary;
    -moz-border-radius: 60px;
    border-radius: 50%;
    font-weight: bold;
    font-size: 0.8em;
    color: #fff;
    position: relative;
    right: 24px;
  }
  .one{
    font-weight: bold;
    i{
      padding: 0 22px 0 10px;
    }
  }
  /* RESTAURANTS */
  #restaurant{
    figure{
      width: 290px;
      height: 213px;
      margin: 0 52px 35px 0;
      box-shadow: 8px 8px 10px #aaa;
      border-radius: 12px;
    }
    img{
      width: 290px;
      height: 150px;
      border-radius: 12px 12px 0 0;
    }
  }

  .img1{
    figcaption{
      position: relative;
      bottom: 20px;
    }
  }

  figcaption{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    border-radius: 0 0 12px 12px;
    padding: 7px 14px;
    i{
      order: -1;
      align-self: center;
      font-size: 18px;
    }
    div{
      font-size: 14px;
      h3{
        margin-bottom: 2px;
      }
    }
  }
  #restaurant{
    .bulle {
    background: #99E2D0;
    color: darkgreen;
    padding: 4px 8px;
    border-radius: 3px;
    font-family: "Roboto", sans-serif;
    position: relative;
    bottom: 142px;
    left: 203px;
  }
}