/* GENERAL */
$primary: #9356DC;
$secondary: #FF79DA;
$tertiary: #99E2D0;
$lightgreen:#99E2D0;
$darkgreen: #004b00;
$black: #000;
$shadow: #aaa;
$white: #fff;
$lightgray: #f2f2f2;

img{
  width: 300px;
  height: 200px;
}
/* INFOS */
.section__infos{
  text-align: center;
  margin: 0 15px;
  .section__infos--bold{
    font-weight: bold;
    margin-top: 40px;
    font-family: 'Roboto', sans-serif;
  }
}

.section__infos{
  div{
    background: $lightgray;
  }
  input{
    border: none;
    font-size: 17px;
    padding: 16px;
    width: 334px;
    background: $lightgray;
  }
  input:focus{
    outline:none;
  }
  i{
    padding-left: 51px;
  }
}
/* MAIN*/
main {
  padding: 0 14px;
}
  /* FONCTIONNEMENT */
  @media screen and (min-width: 1025px){
    .section{
      ol{
        li:hover{
          background: #9356DC4A;
          transform: scale(1.2);
          -webkit-transform: scale(1.2);
        }
        li:hover i {
          color: $primary;
          opacity: 1;
        }
      }
    }
    .section-prev{
      .section-prev__content{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
      }
    }
    .section__infos {
      div {
        margin: 0 264px;
      }
    }
  }
.section__title{
  font-weight: bold;
}
.section{
  ol{
    padding: 0;
    margin: 31px 0 41px 9px;
    counter-reset: resto;
    list-style: none;
    display: flex;
    justify-content: space-around;
    li{
      padding: 15px;
      border-radius: 16px;
      margin-bottom: 13px;
      counter-increment: resto;
      font-size: 16px;
      display: flex;
      box-shadow: 8px 8px 10px $shadow;
      transition-property: transform;
      transition-duration: 0.5s;
      transition-timing-function: ease-out;
    }
  }
  li:before{
    content: counter(resto);
    padding: 3px 7px 3px;
    margin-right: -18px;
    background: $primary;
    -moz-border-radius: 60px;
    border-radius: 50%;
    font-weight: bold;
    font-size: 0.8em;
    color: $white;
    position: relative;
    right: 24px;
  }
}
  .section__list-link a {
    display: flex;
    align-items: center;
    font-weight: bold;
  }
  .section__list-items1 {
    i {
      padding-right: 22px;
      padding-left: 10px;
      opacity: 0.4;
    }
  }

  .section__list-items2 {
    i {
      padding-right: 17px;
      padding-left: 10px;
      opacity: 0.4;
    }
  }

  .section__list-items3 {
    i {
      padding-right: 13px;
      padding-left: 10px;
      opacity: 0.4;
    }
  }




  /* RESTAURANTS */
.section-prev{
    figure{
      width: 333px;
      height: 213px;
      margin: 0 0 35px 0;
      box-shadow: 8px 8px 10px $shadow;
      border-radius: 12px;
      p{
        font-weight: 300;
      }
    }
    img{
      width: 100%;
      height: 150px;
      border-radius: 12px 12px 0 0;
    }
    .section-prev__content-items{
      background: $lightgreen;
      color: $darkgreen;
      padding: 4px 8px;
      border-radius: 3px;
      font-weight: bold;
      font-family: "Roboto", sans-serif;
      position: relative;
      bottom: 142px;
      left: 203px;
    }
}

.section-prev__title{
  font-weight: bold;
}

.section-prev__content{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.section-prev__content-element{
    figcaption{
      position: relative;
      bottom: 20px;
    }
}

figcaption{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    border-radius: 0 0 12px 12px;
    padding: 7px 14px;
    div{
      font-size: 14px;
      h3{
        margin-bottom: 2px;
      }
    }
}
.fa-heart{
  order: -1;
  align-self: center;
  font-size: 18px;
  cursor: pointer;
  margin-top: 10px;
  padding-left: 7px;
  padding-right: 7px;
}
.degrade:hover {
  font-weight: bold;
  background: -webkit-linear-gradient(0deg, $primary, $secondary);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: prog 2s forwards;
  -webkit-animation: prog 2s forwards;
}
@-webkit-keyframes prog {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes prog{
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}