$primary: #9356DC;
$secondary: #FF79DA;
$tertiary: #99E2D0;
$shadow: #aaa;
$white: #fff;
$black:#000;
/* DEBUT RESPONSIVE DESKTOP */
/* Hover */
@media screen and (min-width: 1025px) {
  /* COEUR */
  .degrade:hover{
    font-weight: bold;
    background: -webkit-linear-gradient(0deg, $primary, $secondary);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: prog 2s forwards;
  }
  /* TRANSITION TEXTE PLATS */
  .plats__transition1{
    animation: slideDown 1.5s forwards;
    .plats_text:hover h3{
      overflow: hidden;
      text-overflow: ellipsis;
      width: 190px;
    }
    .plats_text:hover p{
      overflow: hidden;
      text-overflow: ellipsis;
      width: 190px;
      animation: over 1.3s ease;
    }
  }

  .plats__transition2{
    animation: slideDown 2s forwards;
    .plats_text:hover h3{
      overflow: hidden;
      text-overflow: ellipsis;
      width: 190px;
      animation: over 1.3s ease;
    }
    .plats_text:hover p{
      overflow: hidden;
      text-overflow: ellipsis;
      width: 190px;
      animation: over 1.3s ease;
    }
  }

  .plats__transition3{
    animation: slideDown 2.5s forwards;
    .plats_text:hover h3{
      overflow: hidden;
      text-overflow: ellipsis;
      width: 190px;
      animation: over 1.3s ease;
    }
    .plats_text:hover p{
      overflow: hidden;
      text-overflow: ellipsis;
      width: 190px;
      animation: over 1.3s ease;
    }
  }
  @keyframes over{
    0%{
      width: 235px;
    }
    100%{
      width: 190px;
    }
  }
  /* TRANSITION MENU*/
  .plats__transition1:hover .section__element-items{
    display: block;
    width: 50px;
    animation: coche 3s ease;
  }
  .plats__transition2:hover .section__element-items{
    display: block;
    width: 50px;
    animation: coche 3s ease;
  }
  .plats__transition3:hover .section__element-items{
    display: block;
    width: 50px;
    animation: coche 3s ease;
  }

  /* ANIMATION COCHE VERTE*/
  .plats__transition1:hover .cache {
    color: #fff;
    position: relative;
    top: 15px;
    left: 15px;
    font-size: 17px;
    width: 17px;
    animation:rotate 1.3s linear;
    animation-fill-mode: forwards;
  }

  .plats__transition2:hover .cache {
    color: #fff;
    position: relative;
    top: 15px;
    left: 15px;
    font-size: 17px;
    width: 17px;
    animation:rotate 1.3s linear;
    animation-fill-mode: forwards;
  }

  .plats__transition3:hover .cache {
    color: #fff;
    position: relative;
    top: 15px;
    left: 15px;
    font-size: 17px;
    width: 17px;
    animation:rotate 1.3s linear;
    animation-fill-mode: forwards;
  }
}

@keyframes prog{
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* PAGE */
.page{
  margin-left: 39px;
  a{
    display: flex;
    align-items: center;
  }
  img{
    height: 47px;
  }
  i{
    font-size: 28px;
  }
}
/* TITRE ET IMAGE */
.imgmenu{
  height: 200px;
}

.titre{
  height: 244px;
  h1{
    font-size: 22px;
    margin: 0;
    position: relative;
    bottom: 35px;
    background: white;
    border-radius: 34px 34px 0 0;
    padding: 26px 12px 12px 18px;
    display: flex;
    justify-content: space-between;
  }
  .fa-heart{
    cursor: pointer;
    padding-left: 7px;
    padding-right: 7px;
    font-size: 25px;
    color: $black;
  }
}

/* MAIN */
main{
  margin: 0 15px;
  display: flex;
  flex-direction: column;
  h2{
    margin-bottom: 4px;
    font-size: 14px;
  }
  .main__content{
    display: flex;
    justify-content: space-between;
  }
}

/* METS */
.mets{
  font-size: 14px;
  margin-bottom: 48px;
}

.barre{
  background: $tertiary;
  width: 35px;
  height: 3px;
  margin-bottom: 12px;
}

.plats{
  width: 304px;
  height: 45px;
  border-radius: 11px;
  box-shadow: 8px 8px 10px $shadow;
  padding-bottom: 5px;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  white-space: nowrap;
  .plats_text{
    width:251px;
    float: left;
    cursor: pointer;
  }

  .plats__money{
    margin-right: 9px;
    height: 41px;
    font-weight: bold;
    display: flex;
    align-items: flex-end;
  }
  h3{
    padding-top: 4px;
    padding-left: 8px;
  }
  p{
    width: 235px;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 8px;
  }
}

@keyframes slideDown {
  0%{
    transform: translateY(100px);
    opacity: 0;
  }
  100%{
    transform: translateY(0);
    opacity: 1;
  }
}

.section__element-items{
  display: none;
  margin: 0;
  height: 50px;
  background: #99E2D0;
  border-radius: 0 11px 11px 0;
  animation-fill-mode: forwards;
}

@keyframes coche{
  0%{
    width: 0;
    opacity: 0;
  }

  100%{
    width: 50px;
    opacity: 1;
  }
}

@-webkit-keyframes coche {
  0%{
    width: 0;
    opacity: 0;
  }

  100%{
    width: 50px;
    opacity: 1;
  }
}

@keyframes rotate{
  0%{transform: rotateZ(180deg);}
  100%{ transform: rotateZ(0deg);}
}

@-webkit-keyframes rotate {
  0%{transform: rotateZ(180deg);}
  100%{ transform: rotateZ(0deg);}
}
/* FIN RESPONSIVE DESKTOP */

/* DEBUT RESPONSIVE MOBILE */
@media screen and (max-width: 480px){
  .page{
    display: flex;
    justify-content: flex-start;
    margin: 0;
    a{
      display: flex;
      align-items: center;
      margin: 0;
    }
    img{
      width: 140px;
      height: 47px;
    }
    i{
      margin: 0 40px 0 34px;
      font-size: 22px;
    }
  }
  /* MAIN */
  main{
    margin: 0 15px;
    display: inherit;
    h2{
      margin-bottom: 4px;
      font-size: 14px;
    }
    .main__content{
      display: inherit;
    }
  }

  /* TITRE ET IMAGE */
  .imgmenu{
    height: 200px;
  }

  .titre{
    height: 244px;
    h1{
      font-size: 22px;
      margin: 0;
      position: relative;
      bottom: 35px;
      background: $white;
      border-radius: 34px 34px 0 0;
      padding: 26px 12px 12px 18px;
      display: flex;
      justify-content: space-between;
    }
    .degrade:active{
      font-weight: bold;
      background: -webkit-linear-gradient(0deg, $primary, $secondary);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      animation: prog 2s forwards;
    }
  }
  /* METS */
  .mets{
    font-size: 13px;
    margin-bottom: 48px;
    p{
      font-size: 13px;
      padding-left: 9px;
      font-weight: 300;
    }
    p:active .cache{
      background: $tertiary;
      display: block;
      padding: 18px 13px 20px 13px;
      position: relative;
      bottom: 24px;
      border-radius: 0 9px 9px 0;
      color: $white;
    }
  }
  .plats{
    width: 290px;
    height: 45px;
    border-radius: 11px;
    box-shadow: 8px 8px 10px $shadow;
    padding-bottom: 5px;
    margin-bottom: 15px;
      .plats__money{
      margin-right: 9px;
      }
    h3{
      padding-top: 4px;
      padding-left: 8px;
    }
    p{
      padding-left: 8px;
      width: 242px;
    }
  }

  .plats__transition1{
    .plats_text:active h3{
      overflow: hidden;
      text-overflow: ellipsis;
      width: 176px;
      animation: over 1.3s ease;
    }
    .plats_text:active p{
      overflow: hidden;
      text-overflow: ellipsis;
      width: 176px;
      animation: over 1.3s ease;
    }
  }

  .plats__transition2{
    .plats_text:active h3{
      overflow: hidden;
      text-overflow: ellipsis;
      width: 176px;
      animation: over 1.3s ease;
    }
    .plats_text:active p{
      overflow: hidden;
      text-overflow: ellipsis;
      width: 176px;
      animation: over 1.3s ease;
    }
  }

  .plats__transition3{
    .plats_text:active h3{
      overflow: hidden;
      text-overflow: ellipsis;
      width: 176px;
      animation: over 1.3s ease;
    }
    .plats_text:active p{
      overflow: hidden;
      text-overflow: ellipsis;
      width: 176px;
      animation: over 1.3s ease;
    }
  }
  @keyframes over{
    0%{
      width: 249px;
    }
    100%{
      width: 176px;
    }
  }

  @-webkit-keyframes over {
    0%{
      width: 249px;
    }
    100%{
      width: 176px;
    }
  }

  .plats__transition1:active .section__element-items{
    display: block;
    background: #99E2D0;
    width: 50px;
    animation: coche 1.3s ease forwards;
    .jauge-remplissage{
      animation:cochereverse 1.3s ease;
      animation-delay: 2s;
    }
  }
  .plats__transition2:active .section__element-items{
    display: block;
    background: #99E2D0;
    width: 50px;
    animation: coche 1.3s ease;
  }
  .plats__transition3:active .section__element-items{
    display: block;
    background: #99E2D0;
    width: 50px;
    animation: coche 1.3s ease;
  }
  .plats__transition1:active .cache {
    color: #fff;
    position: relative;
    top: 15px;
    left: 15px;
    font-size: 17px;
    width: 17px;
    animation:rotate 1.3s linear, ;
    animation-fill-mode: forwards;
  }

  .plats__transition2:active .cache {
    color: #fff;
    position: relative;
    top: 15px;
    left: 15px;
    font-size: 17px;
    width: 17px;
    animation:rotate 1.3s linear;
    animation-fill-mode: forwards;
  }

  .plats__transition3:active .cache {
    color: #fff;
    position: relative;
    top: 15px;
    left: 15px;
    font-size: 17px;
    width: 17px;
    animation:rotate 1.3s linear;
    animation-fill-mode: forwards;
  }

  @keyframes cochereverse{
    0%{
      width: 50px;
      opacity: 1;
    }

    100%{
      width: 0;
      opacity: 0;
    }
  }

  @-webkit-keyframes cochereverse {
    0%{
      width: 50px;
      opacity: 1;
    }

    100%{
      width: 0;
      opacity: 0;
    }
  }
  /* VISITED */
  /*.plats__transition1: .section__element-items{
    display: block;
    background: #99E2D0;
    width: 50px;
    animation: cochereverse 1.3s ease;

  }
  .plats__transition2:visited .section__element-items{
    display: block;
    background: #99E2D0;
    width: 50px;
    animation: cochereverse 1.3s ease;
  }
  .plats__transition3:visited .section__element-items{
    display: block;
    background: #99E2D0;
    width: 50px;
    animation: cochereverse 1.3s ease;
  }

  .plats__transition1:visited .cache {
    color: #fff;
    position: relative;
    top: 15px;
    left: 15px;
    font-size: 17px;
    width: 17px;
    animation:rotatereverse 1.3s linear;
    animation-fill-mode: forwards;
  }

  .plats__transition2:visited .cache {
    color: #fff;
    position: relative;
    top: 15px;
    left: 15px;
    font-size: 17px;
    width: 17px;
    animation:rotatereverse 1.3s linear;
    animation-fill-mode: forwards;
  }

  .plats__transition3:visited .cache {
    color: #fff;
    position: relative;
    top: 15px;
    left: 15px;
    font-size: 17px;
    width: 17px;
    animation:rotatereverse 1.3s linear;
    animation-fill-mode: forwards;
  }

  @keyframes rotatereverse{
    0%{transform: rotateZ(0deg);}
    100%{transform: rotateZ(180deg);}
  }*/
}
/* FIN RESPONSIVE MOBILE*/

/* DEBUT RESPONSIVE TABLETTE */
@media screen and (min-width: 481px) and (max-width: 1024px){
  /* GENERAL */
  body{
    width: 768px;
    margin: 0 auto;
  }

  /* PAGE */
  .page{
    display: flex;
    justify-content: flex-start;
    margin: 0;
    a{
      margin-right: 50px;
      margin-left: 55px;
    }
  }
  .logo{
  width: 500px;
  }
  /* TITRE */

  /* MAIN */

  /* SECTION METS */
  .mets{
    font-size: 12px;
    margin: 0;
    width: 231px;
  }
  /* PLATS */
}
/* FIN RESPONSIVE TABLETTE */