$primary: #9356DC;
$secondary: #FF79DA;
$tertiary: #99E2D0;
$shadow: #aaa;
$white: #fff;
.page{
  display: flex;
  justify-content: flex-start;
  a{
    display: flex;
    align-items: center;
  }
  img{
    height: 47px;
  }
  i{
    font-size: 28px;
  }
}

main{
  margin: 0 15px;
  h2{
    margin-bottom: 4px;
    font-size: 14px;
  }
}

.imgmenu{
  height: 200px;
}

.titre{
  height: 244px;
  h1{
    font-size: 22px;
    margin: 0;
    position: relative;
    bottom: 35px;
    background: white;
    border-radius: 34px 34px 0 0;
    padding: 26px 12px 12px 18px;
    display: flex;
    justify-content: space-between;
  }
}
.mets{
  font-size: 14px;
  margin-bottom: 48px;
  .cache{
    display: none;
  }

  p{
    font-size: 13px;
    display: flex;
    justify-content: space-between;
    padding-left: 9px;
    font-weight: 300;
  }
  p:active .cache{
    background: $tertiary;
    display: block;
    padding: 18px 13px 20px 13px;
    position: relative;
    bottom: 24px;
    border-radius: 0 9px 9px 0;
    color: $white;
  }
}
.plats{
  height: 45px;
  border-radius: 11px;
  box-shadow: 8px 8px 10px $shadow;
  padding-bottom: 5px;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  transition: all 2s ease-in;
  span{
    font-weight: bold;
    margin-right: 9px;
  }
  h3{
    padding-top: 4px;
    padding-left: 8px;
  }
}
.barre{
  background: $tertiary;
  width: 35px;
  height: 3px;
  margin-bottom: 12px;
}
@media screen and (max-width: 480px){
  .page{
    display: flex;
    justify-content: flex-start;
    a{
      display: flex;
      align-items: center;
    }
    img{
      width: 140px;
      height: 47px;
    }
    i{
      margin: 0 40px 0 18px;
    }
  }

  main{
    margin: 0 15px;
    h2{
      margin-bottom: 4px;
      font-size: 14px;
    }
  }

  .imgmenu{
    height: 200px;
  }

  .titre{
    height: 244px;
    h1{
      font-size: 22px;
      margin: 0;
      position: relative;
      bottom: 35px;
      background: $white;
      border-radius: 34px 34px 0 0;
      padding: 26px 12px 12px 18px;
      display: flex;
      justify-content: space-between;
    }
  }
  .mets{
    font-size: 14px;
    margin-bottom: 48px;
    .cache{
      display: none;
    }

    p{
      font-size: 13px;
      display: flex;
      justify-content: space-between;
      padding-left: 9px;
      font-weight: 300;
    }
    p:active .cache{
      background: $tertiary;
      display: block;
      padding: 18px 13px 20px 13px;
      position: relative;
      bottom: 24px;
      border-radius: 0 9px 9px 0;
      color: $white;
    }
  }
  .plats{
    height: 45px;
    border-radius: 11px;
    box-shadow: 8px 8px 10px $shadow;
    padding-bottom: 5px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    transition: all 2s ease-in;
      span{
      font-weight: bold;
      margin-right: 9px;
      }
    h3{
      padding-top: 4px;
      padding-left: 8px;
    }

  }
  .barre{
    background: $tertiary;
    width: 35px;
    height: 3px;
    margin-bottom: 12px;
  }
}