.page {
  display: flex;
  justify-content: flex-start;
}
.page a {
  display: flex;
  align-items: center;
}
.page img {
  height: 47px;
}
.page i {
  font-size: 28px;
}

main {
  margin: 0 15px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
main h2 {
  margin-bottom: 4px;
  font-size: 14px;
}

.imgmenu {
  height: 200px;
}

.titre {
  height: 244px;
}
.titre h1 {
  font-size: 22px;
  margin: 0;
  position: relative;
  bottom: 35px;
  background: white;
  border-radius: 34px 34px 0 0;
  padding: 26px 12px 12px 18px;
  display: flex;
  justify-content: space-between;
}
.titre .fa-heart {
  cursor: pointer;
  margin-top: 10px;
  padding-left: 7px;
  padding-right: 7px;
  font-size: 25px;
  color: #000;
}
.titre .degrade:hover {
  font-weight: bold;
  background: -webkit-linear-gradient(0deg, #9356DC, #FF79DA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: prog 2s forwards;
}
@keyframes prog {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.barre {
  background: #99E2D0;
  width: 35px;
  height: 3px;
  margin-bottom: 12px;
}

.mets {
  font-size: 14px;
  margin-bottom: 48px;
}

.plats {
  height: 45px;
  border-radius: 11px;
  box-shadow: 8px 8px 10px #aaa;
  padding-bottom: 5px;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  white-space: nowrap;
}
.plats .plats_text {
  width: 251px;
}
.plats div:hover h3 {
  overflow: hidden;
  text-overflow: ellipsis;
}
.plats div:hover p {
  overflow: hidden;
  text-overflow: ellipsis;
}
.plats .plats__money {
  font-weight: bold;
  display: flex;
  align-items: flex-end;
}
.plats h3 {
  padding-top: 4px;
  padding-left: 8px;
}

.plats__transition1 {
  animation: slideDown 1.5s forwards;
}

.plats__transition2 {
  animation: slideDown 2s forwards;
}

.plats__transition3 {
  animation: slideDown 2.5s forwards;
}

@keyframes slideDown {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.section__element-items {
  display: none;
  margin: 0 0 0 5px;
  width: 50px;
  height: 50px;
  transition: transform 1s linear;
}

.plats__transition1:hover .section__element-items {
  display: block;
}

.plats__transition2:hover .section__element-items {
  display: block;
  /*transform: rotate(180deg);*/
}

.plats__transition3:hover .section__element-items {
  display: block;
  /*transform: rotate(180deg);*/
}

.jauge-remplissage {
  display: none;
  background: #99E2D0;
  height: 50px;
  border-radius: 0 11px 11px 0;
  animation: droite 1.3s linear;
  animation-fill-mode: forwards;
}

@keyframes droite {
  0% {
    opacity: 0;
    transform: translateX(44px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.plats__transition1:hover .jauge-remplissage {
  width: 50px;
  display: inline-block;
}

.plats__transition2:hover .jauge-remplissage {
  width: 50px;
  display: inline-block;
}

.plats__transition3:hover .jauge-remplissage {
  width: 50px;
  display: inline-block;
}

.plats__transition1:hover .cache {
  color: #fff;
  position: relative;
  top: 15px;
  left: 15px;
  font-size: 17px;
  width: 17px;
  animation: rotate 1.3s linear;
  animation-fill-mode: forwards;
}

.plats__transition2:hover .cache {
  color: #fff;
  position: relative;
  top: 15px;
  left: 15px;
  font-size: 17px;
  width: 17px;
  animation: rotate 1.3s linear;
  animation-fill-mode: forwards;
}

.plats__transition3:hover .cache {
  color: #fff;
  position: relative;
  top: 15px;
  left: 15px;
  font-size: 17px;
  width: 17px;
  animation: rotate 1.3s linear;
  animation-fill-mode: forwards;
}

@keyframes rotate {
  0% {
    transform: rotateZ(180deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}
@media screen and (max-width: 480px) {
  .page {
    display: flex;
    justify-content: flex-start;
  }
  .page a {
    display: flex;
    align-items: center;
  }
  .page img {
    width: 140px;
    height: 47px;
  }
  .page i {
    margin: 0 40px 0 18px;
  }

  main {
    margin: 0 15px;
  }
  main h2 {
    margin-bottom: 4px;
    font-size: 14px;
  }

  .imgmenu {
    height: 200px;
  }

  .titre {
    height: 244px;
  }
  .titre h1 {
    font-size: 22px;
    margin: 0;
    position: relative;
    bottom: 35px;
    background: #fff;
    border-radius: 34px 34px 0 0;
    padding: 26px 12px 12px 18px;
    display: flex;
    justify-content: space-between;
  }
  .titre .degrade:hover {
    font-weight: bold;
    background: -webkit-linear-gradient(0deg, #9356DC, #FF79DA);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: prog 2s forwards;
  }

  .mets {
    font-size: 14px;
    margin-bottom: 48px;
  }
  .mets .cache {
    display: none;
  }
  .mets p {
    font-size: 13px;
    display: flex;
    justify-content: space-between;
    padding-left: 9px;
    font-weight: 300;
  }
  .mets p:active .cache {
    background: #99E2D0;
    display: block;
    padding: 18px 13px 20px 13px;
    position: relative;
    bottom: 24px;
    border-radius: 0 9px 9px 0;
    color: #fff;
  }

  .plats {
    height: 45px;
    border-radius: 11px;
    box-shadow: 8px 8px 10px #aaa;
    padding-bottom: 5px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    transition: all 2s ease-in;
  }
  .plats span {
    font-weight: bold;
    margin-right: 9px;
  }
  .plats h3 {
    padding-top: 4px;
    padding-left: 8px;
  }

  .barre {
    background: #99E2D0;
    width: 35px;
    height: 3px;
    margin-bottom: 12px;
  }
}

/*# sourceMappingURL=menu.css.map */
