@media screen and (min-width: 1025px) {
  /* COEUR */
  .degrade:hover {
    font-weight: bold;
    background: linear-gradient(0deg, #9356DC, #FF79DA);
    -webkit-background-clip: text;
    color: transparent;
    animation: prog 2s forwards;
  }

  /* TRANSITION TEXTE PLATS */
  .plats__transition1 {
    animation: slideDown 1.5s forwards;
  }
  .plats__transition1 .plats_text:hover p {
    overflow: hidden;
    text-overflow: ellipsis;
    width: 190px;
    animation: over 1.3s ease;
  }

  .plats__transition2 {
    animation: slideDown 2s forwards;
  }
  .plats__transition2 .plats_text:hover p {
    overflow: hidden;
    text-overflow: ellipsis;
    width: 190px;
    animation: over 1.3s ease;
  }

  .plats__transition3 {
    animation: slideDown 2.5s forwards;
  }
  .plats__transition3 .plats_text:hover p {
    overflow: hidden;
    text-overflow: ellipsis;
    width: 190px;
    animation: over 1.3s ease;
  }

  @keyframes over {
    0% {
      width: 235px;
    }
    100% {
      width: 190px;
    }
  }
  /* TRANSITION MENU*/
  .plats__transition1:hover .section__element-items {
    display: block;
    background: #99E2D0;
    width: 50px;
    height: 50px;
    animation: coche 3s ease;
  }

  .plats__transition2:hover .section__element-items {
    display: block;
    background: #99E2D0;
    width: 50px;
    height: 50px;
    animation: coche 3s ease;
  }

  .plats__transition3:hover .section__element-items {
    display: block;
    background: #99E2D0;
    width: 50px;
    height: 50px;
    animation: coche 3s ease;
  }

  /* ANIMATION COCHE VERTE*/
  .plats__transition1:hover .cache {
    color: #fff;
    position: relative;
    top: 15px;
    left: 15px;
    font-size: 17px;
    width: 17px;
    animation: rotate 1.3s linear;
    animation-fill-mode: forwards;
  }

  .plats__transition2:hover .cache {
    color: #fff;
    position: relative;
    top: 15px;
    left: 15px;
    font-size: 17px;
    width: 17px;
    animation: rotate 1.3s linear;
    animation-fill-mode: forwards;
  }

  .plats__transition3:hover .cache {
    color: #fff;
    position: relative;
    top: 15px;
    left: 15px;
    font-size: 17px;
    width: 17px;
    animation: rotate 1.3s linear;
    animation-fill-mode: forwards;
  }
}
@keyframes prog {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* PAGE */
.page {
  margin-left: 39px;
}
.page a {
  display: flex;
  align-items: center;
}
.page img {
  height: 47px;
}
.page i {
  font-size: 28px;
}

/* TITRE ET IMAGE */
.imgmenu {
  height: 200px;
}

.titre {
  height: 244px;
}
.titre h1 {
  font-size: 22px;
  margin: 0;
  position: relative;
  bottom: 35px;
  background: white;
  border-radius: 34px 34px 0 0;
  padding: 26px 12px 12px 18px;
  display: flex;
  justify-content: space-between;
}
.titre .fa-heart {
  cursor: pointer;
  padding-left: 7px;
  padding-right: 7px;
  font-size: 25px;
  color: #000;
}

/* MAIN */
main {
  margin: 0 15px;
  display: flex;
  flex-direction: column;
}
main h2 {
  margin-bottom: 4px;
  font-size: 14px;
}
main .main__content {
  display: flex;
  justify-content: space-between;
}

/* METS */
.mets {
  font-size: 14px;
  margin-bottom: 48px;
}

.barre {
  background: #99E2D0;
  width: 35px;
  height: 3px;
  margin-bottom: 12px;
}

.plats {
  width: 304px;
  height: 45px;
  border-radius: 11px;
  box-shadow: 8px 8px 10px #aaa;
  padding-bottom: 5px;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  white-space: nowrap;
}
.plats .plats_text {
  width: 251px;
  float: left;
  cursor: pointer;
}
.plats .plats__money {
  margin-right: 9px;
  height: 41px;
  font-weight: bold;
  display: flex;
  align-items: flex-end;
}
.plats h3 {
  padding-top: 4px;
  padding-left: 8px;
}
.plats p {
  width: 235px;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 8px;
}

@keyframes slideDown {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.section__element-items {
  display: none;
  margin: 0;
  width: 0;
  height: 0;
  border-radius: 0 11px 11px 0;
  transition: width 1.3s;
}

@keyframes coche {
  0% {
    width: 0;
    opacity: 0;
  }
  100% {
    width: 50px;
    opacity: 1;
  }
}
@keyframes rotate {
  0% {
    transform: rotateZ(180deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}
/* FIN RESPONSIVE DESKTOP */

/*# sourceMappingURL=menudesktop.css.map */
