$primary: #9356DC;
$secondary: #FF79DA;
$tertiary: #99E2D0;
$ligthgray: #f2f2f2;
$black: #000;
$shadow: #aaa;
@media screen and (min-width: 769px) and (max-width: 1024px){
  /* GENERAL */
  body{
    width: 768px;
    margin: 0 auto;
  }
  /* HEADER*/
   header{
     h1{
       font-size: 44px;
       margin: 0;
     }
   }
  /* INFOS */
  .section__infos {
  }
  .section__infos-content{
    background: $ligthgray;
    margin: 0 147px;
    input{
      border: none;
      font-size: 17px;
      padding: 16px;
      width: 334px;
      background: $ligthgray;
    }
    input:focus{
      outline:none;
    }
    i{
      padding-left: 94px;
    }
  }
  /* FONCTIONENEMENT */
  .section li:active {
    background: #9356DC4A;
  }
  .section li:active i {
    color: $primary;
  }
  .section ol{
    margin-left: 0;
    li{
      font-size: 13px;
    }
    li:active{
      transform: scale(1.2);
      -webkit-transform: scale(1.2);
    }
  }

  /* RESTAURANTS */
  .section-prev{
    figure{
      width: 260px;
      height: 184px;
      img{
        height: 125px;
      }
    }
    .section-prev__content-items{
      position: relative;
      bottom: 119px;
      left: 173px;
    }
    .section-prev__content{
      justify-content: space-around;
    }
  }
  .section-prev__title {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 21px;
  }
  .degrade:active {
    font-weight: bold;
    background: -webkit-linear-gradient(0deg, $primary, $secondary);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: prog 2s forwards;
    -webkit-animation: prog 2s forwards;
  }
  @-webkit-keyframes prog {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes prog{
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}